
/********************** PC・タブレット用css ***************************/

@media screen and (min-width:768px){

#wrapper{
	
}

#wrapper:before{
	content:"";
	display:block;
	position:fixed;
	top:0;
	left:0;
	-webkit-transform:translate3d(0, 0, -1px);
	transform: translate3d(0, 0, -1px);
	width:100%;
	height:100vh;
	background:#C7C7C7 url(../images/macbook.jpg);/**** 自分の好きな画像を設定してください ****/
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:screen;
	background-position:center;
	z-index: -1;
}


#profile01{
	background:rgba(255,255,255,0.5);
}

h2.your_name{
	font-size:150%;
	letter-spacing: 0.2em;
	color:#262626;
	margin-top:0;
}

h2.your_name span {
	font-size: 60%;
	margin-left: 20px;
}

.profile01_inner{
	max-width:700px;
	margin:0 auto;
	padding:7% 0;
}

.profile01_inner_lr{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.profile01_l{
	width:30%;
}

.your_picture{
	background:url(../images/hatada.jpg)no-repeat center;/**** 自分が映っている写真を設定してください ****/
	border-radius:50%;
	padding:50%;
	background-size: cover;
	box-shadow:0px 1px 2px 0px #989898 inset;
}

.profile01_r{
	max-width:450px;
}

.profile01_r dl{
	font-size:90%;
	letter-spacing:0.2em;
	color:#262626;
	display:flex;
	justify-content:space-between;
}

.profile01_r dt{
	font-weight:600;
}

.profile01_r dd{
	font-weight:400;
}

#profile02{
	background:rgba(136, 133, 106, 0.8);
	overflow: hidden;
}

.profile02_inner{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}

.profile02_l{
	width:60%;
	display:flex;
	justify-content:center;
}

.profile02_l_inner{
	width:80%;
	padding-top:5%; 
}

.profile02_l dl{
	font-size:90%;
	letter-spacing:0.2em;
	color:#FFFFFF;
	margin:2em 0;
	display:flex;
	justify-content:space-between;
	align-items: flex-start;
}

.profile02_l dt{
	width:35%;
	font-weight:600;
}

.profile02_l dd{
	width:60%;
	text-align: left;
	font-weight:400;
}


.profile02_r{
	width:40%;
}

.favorite_picture01{
	background:url(../images/imawano.jpg)no-repeat center;/**** 自分の好きな写真を設定してください ****/
	padding:30% 0;
	background-size:cover;
}

.favorite_picture02{
	background:url(../images/kimen.jpg)no-repeat center;/**** 自分の好きな写真を設定してください ****/
	padding:30% 0;
	background-size:cover;
}

#profile03{
	background:rgba(255,255,255,0.5);
}

#profile03 h3{
	font-size:150%;
	letter-spacing: 0.2em;
	color:#262626;
}

.profile03_inner{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}

.profile03_l{
	width:60%;
}

.profile03_l_inner{
	max-width:450px;
	margin:0 auto;
	padding-top:10%;
}

.profile03_l_inner p{
	font-size:90%;
	font-weight:400;
}

.profile03_r{
	width:40%;
}

.favorite_picture03{
	background:url(../images/coffee.jpg)no-repeat center;/**** 自分の好きな写真を設定してください ****/
	padding:50% 0;
	background-size:cover;
}

}
