@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  letter-spacing: 0.15em;
}

em {
  font-style: normal;
}

th {
  vertical-align: top;
  text-align: left;
}

/*-------------------------
  グローバル
-------------------------*/
.logo {
  filter: drop-shadow(0 .5px 2px #999);
}
