
/********************** スマホ用css ***************************/

@media screen and (max-width:767px){


.trainee_list_01,
.trainee_list_02{
	padding:5% 0;
}

.trainee_list_02{
	background:#F7F7F7;
}

.trainee_list_01 h2,
.trainee_list_02 h2{
	font-size:130%;
	letter-spacing: 0.2em;
	margin-top:0;
	padding-left:1em;
	text-align: center;
	color:#435e72;
}

.trainee_list_inner{
	max-width:1000px;
	display:flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin:0 auto;
}

.trainee{
	width:20%;
	margin:3% 0 0 10%;
}

.trainee a{
	text-decoration:none;
}

.trainee p{
	font-size:100%;
	font-weight:600;
	letter-spacing:0.2em;
	color:#262626;
	text-align: center
}

.team_pg{
	font-size:90%;
	color:#AF3F5F;
}

.team_fr{
	font-size:90%;
	color:#198F61;
}

.trainee01_image{
	background:url(../images/test01.jpg)no-repeat center;
	border-radius:50%;
	padding:50%;
	background-size: cover;
	box-shadow:0px 1px 2px 0px #989898 inset;
}

.trainee02_image{
	background:url(../images/test02.jpg)no-repeat center;
	border-radius:50%;
	padding:50%;
	background-size: cover;
	box-shadow:0px 1px 2px 0px #989898 inset;
}

.trainee03_image{
	background:url(../images/test03.jpg)no-repeat center;
	border-radius:50%;
	padding:50%;
	background-size: cover;
	box-shadow:0px 1px 2px 0px #989898 inset;
}

.trainee04_image{
	background:url(../images/test04.jpg)no-repeat center;
	border-radius:50%;
	padding:50%;
	background-size: cover;
	box-shadow:0px 1px 2px 0px #989898 inset;
}

}
